.App {
    text-align: center;
}

.calendarActions {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #000;
}

.buttonView,
.buttonPrevNext {
    border: 0;
    padding: 10px 20px;
    background: rgb(89, 0, 255);
    color: #fff;
}

.buttonView:hover,
.buttonPrevNext:hover {
    background: rgb(64, 0, 182);
    transition: .2s;
}

.buttonView {
    width: 100%;
    border-width: 0 2px;
    border-style: solid;
    border-color: rgba(255, 255, 255, .2);
}

.day {
    padding: 0 !important;
    height: 100px;
    width: 100px;
}

.dayButton {
    width: 100%;
    height: 100%;
    border: 0;
    background: transparent;
}

.dayButton:hover,
.buttonMonth:hover,
.buttonYear:hover {
    background: rgba(0, 0, 0, .1);
    transition: .2s;
}

.activeDay {
    background: rgba(0, 0, 0, .1);
}

.todayDay.activeDay {
    background: rgba(0, 0, 0, .1);
}

.isWeekend {
    color: red;
}

.emptyDay {
    pointer-events: none;
}

.monthsList {
    display: flex;
    flex-direction: column;
}

.buttonMonth {
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, .1);
    padding: 10px;
    background: #fff;
}

.yearView {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.yearList {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.buttonYear {
    border: 2px solid rgba(0, 0, 0, .1);
    height: 100px;
    width: 100%;
    max-width: 300px;
    background: #fff;
    margin: 10px;
}

.todayDay {
    background: rgba(255, 0, 0, .1);
}