@import 'bootstrap/dist/css/bootstrap.min.css';

.col,
.col-md {
    padding: 0 !important;
}

.react-calendar {
    line-height: 1.125em;
}

.react-calendar--doubleView {
    width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer>* {
    width: 50%;
    margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
}

.react-calendar button:enabled:hover {
    cursor: pointer;
}

.react-calendar__navigation {
    display: flex;
    height: 80px;
    margin-bottom: 1em;
    background: #4A148C;
    line-height: 1.5em;
}

.react-calendar__navigation button {
    min-width: 80px;
    background: none;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
}

.react-calendar__navigation button:disabled {
    background-color: #6A1B9A;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    background-color: #6A1B9A;
}

.react-calendar__navigation__label {
    text-transform: capitalize;
}

.react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 18px;
    color: #696969;
}

.react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
}

abbr[title] {
    cursor: default;
    text-decoration: none;
}

.react-calendar__year-view__months button {
    text-transform: capitalize;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
    color: #d10000;
}

.react-calendar__month-view__days__day--neighboringMonth {
    color: #DADADA;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
}

.react-calendar__tile {
    max-width: 100%;
    padding: 50px 6.6667px;
    background: none;
    text-align: center;
}

.react-calendar__tile:disabled {
    background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background-color: #e6e6e6;
}

.react-calendar__tile--now {
    position: relative;
}

.react-calendar__tile--now::after {
    content: "";
    width: 60px;
    height: 60px;
    background-color: #ffff76;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    background: transparent;
}

.react-calendar__tile--now:enabled:hover::after {
    content: "";
    width: 60px;
    height: 60px;
    background-color: #ffffa9;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
}

.react-calendar__tile--hasActive {
    background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
    background: #a9d4ff;
}


.react-calendar__tile--active {
    color: white;
    position: relative;
}

.react-calendar__tile--active::after {
    content: "";
    width: 60px;
    height: 60px;
    background-color: #1087ff;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    border: 2px solid #004f9e;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: transparent;
}

.react-calendar__tile--active:enabled:hover::after {
    content: "";
    width: 60px;
    height: 60px;
    background-color: #004f9e;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
}

.react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
}

.event {
    position: relative;
    color: #fff;
}

.event::after {
    content: "";
    width: 60px;
    height: 60px;
    background-color: #1087ff;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
}

.event:hover,
.event:focus {
    background: transparent !important;
}

.event:hover::after {
    content: "";
    width: 60px;
    height: 60px;
    background-color: #004f9e;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
}

.react-calendar__month-view__days__day--neighboringMonth.event,
.react-calendar__month-view__days__day--neighboringMonth.react-calendar__tile--active {
    color: #DADADA;
}

.react-calendar__month-view__days__day--neighboringMonth.event::after,
.react-calendar__month-view__days__day--neighboringMonth.react-calendar__tile--active::after,
.react-calendar__month-view__days__day--neighboringMonth.react-calendar__tile--active:hover::after {
    background-color: #6ab4ff;
}


/*Event Side*/

.eventSide {
    border-left: 5px solid #fff;
}

.eventBar {
    background: #4A148C;
    height: 80px;
    border-bottom-left-radius: 25px;
}

.eventBar h2 {
    line-height: 80px;
    color: #fff;
    width: 100%;
    text-align: center;
}

.addEvent {
    position: absolute;
    top: calc(100% - 50px);
    left: calc(100% - 120px);
    width: 120px;
    height: 50px;
    border-radius: 0;
    background: #4A148C;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid #4A148C;
}

.addEvent:hover,
.addEvent:focus {
    color: #fff;
    background: #7c35d3;
    border: 1px solid #7c35d3;
}